[submodule "submodules/Alamofire"]
	path = submodules/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "submodules/ObjectMapper"]
	path = submodules/ObjectMapper
	url = https://github.com/Hearst-DD/ObjectMapper/
